.hero
{
    background-image: url('./images/family.png');
    background-size:cover;
    background-repeat: no-repeat; 
    height:788px;
    display: flex;
    flex-direction: column;
    
    background-position: center;
    align-items: center;
    
     

}

.navbar {
    height: 90px; 
    max-width: 1260px; 
    background-color: #FFFFFF;
    margin-top: 55px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 9;
    margin-left: auto; 
    margin-right: auto; 
    padding-left: 15px; 
    padding-right: 15px; 
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column; 
        height: auto;
        padding-top: 20px; 
        padding-bottom: 20px; 
    }
}
@media screen and (min-width: 992px) {
    .navbar {
        width: 1260px; 
    }
}

.logo
{
background-image:url("./images/logo.png");
height:57px;
width:157px;
}
.findpro-dropdown
{
    width:fit-content;
    

}
.dropdown-content
{
    display:flex;
    flex-direction:column;
    background-color:#FFFFFF;
    position: absolute;
    height:57px;
    width: 138px;
    
    
    

}
.dropbtn
{
background-color:#FFFFFF;
border:none;
height:25px;
width:fit-content;
display:flex;
gap:10px;
align-items:center;
justify-content: center; 
font-family: 'Montserrat' sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 24.38px;
color: #000000;

}

.find-options
{
    padding-top:10px;
    padding-bottom:10px;
    background-color:#FFFFFF;
    

}

.search-area
{
    border-color: #C0c0c0;
    height:48px;
    width:315px;
    border-radius: 8px;
    color:#C0c0c0;
    box-shadow: 10px 24px 54px 0px #0000000F;
    border: 1px solid #C0C0C0
}
.community-link
{
   
    color:black;
    text-decoration:none;
    width: 123px;
    height: 24px;
    font-family: 'Montserrat' sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24.38px;
 
}

.userlogo
{
    background-image: url(./images/user-logo.png);
    height:32px;
    width:32px;

}
.user-name
{
    
    height:24px;
    width:123px;
    color:#C0c0c0;
    background-color: #FFFFFF;
    border:none;
    text-align: left;
}
.user-account
{
    display:flex;
    align-items: center;
    
    
}
.shade
{
    
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 55%, rgba(0, 0, 0, 0.5) , rgba(0, 0, 0, 0)100% );

    background-size:cover;
    height: 600px;
    width:100%;
    margin:0;
    position:absolute;
    

}

.hero-text
{
  color: #FFFFFF;
  
  z-index:9;
  margin-top:45px;
  /* height:fit-content; */
  align-items: center;
  justify-content: center;
  display:flex;
  flex-direction: column;

}

.line2{
    
    font-family: Montserrat, sans-serif;
    font-weight: 500px;
    font-size:22px;
    line-height: 27px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-top:20px;
    width: 600px;
    height: 54px;


        
}
.line1
{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 70.4px;
    letter-spacing: -0.05em;
    text-align: center;
}
